<!-- Header  -->
<header class="text-gray-600 py-4 h-[64px] w-[768px] border-b-[1px] border-gray-300">
    <nav class="flex space-between px-[10px] w-full gap-x-[22px]">
      <img src="../assets/Notification Icon.png" class="size-[28px]">
  
      <p class="flex-1 text-base">Monster Energy Dashboard</p>
  
      <div class="flex space-between gap-x-[12px] [&>*]:size-[28px]">
        <img src="../assets/Notification Icon.png">
        <img src="../assets/Apps Icon.png">
        <div class="bg-gray-400 rounded-full w-[28px]">
        </div>
      </div>
    </nav>
</header>

<!-- Main Content -->
<main class="h-full text-center flex-1">

  <h1 class="text-[40px] font-bold text-gray-600 text-center m-5">Stores</h1>

  <div class="m-3 border-[1px] border-gray-300 rounded-lg">

    <!-- Search and Filter section  -->
    <section class="p-4 flex flex-col gap-y-4 justify-start items-start">

      <!-- Search Bar -->
      <div class="w-auto flex items-center border border-gray-300 rounded-md text-left">
        <img src="../assets/search.PNG" class="w-5 h-5 ml-2">
        <input
          type="text"
          placeholder="Search by store name"
          class="p-2 w-[200px] h-[30px] focus:outline-none text-xs"
          #search
        />
        <button (click)="onSearch(search.value)"
          class="text-xs bg-[#8dc63f] text-[#5c8129] p-2 rounded-tr-[5px] rounded-br-[5px]"
        >
          Search
        </button>
      </div>

      <hr class="w-full border-[1px] border-gray-200">

      <!-- Filter & Sort Bar -->
      <div class="flex justify-between">
        <!-- Filter by Column -->
        <select [(ngModel)]="searchColumn" class="h-4 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value="">Filter by column</option>
          <option value="id">ID</option>
          <option value="name">Name</option>
          <option value="description">Description</option>
          <option value="favourited">Favourited</option>
          <option value="viewed">Viewed</option>
        </select>

        <!-- Sort Bar -->
        <!-- <div class="flex space-x-2">
          <button 
            (click)="changeSort('id')" 
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
            ID
            <span *ngIf="sortColumn === 'id'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </button>
          <button 
             
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
            Name
            <span *ngIf="sortColumn === 'name'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </button>
          <button 
            (click)="changeSort('description')" 
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
            Description
            <span *ngIf="sortColumn === 'description'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </button>
          <button 
            (click)="changeSort('favourited')" 
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
            Favourited
            <span *ngIf="sortColumn === 'favourited'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </button>
          <button 
            (click)="changeSort('viewed')" 
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
            Viewed
            <span *ngIf="sortColumn === 'viewed'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
          </button>
        </div> -->
      </div>
    </section>
    
    <table class="min-w-full border-collapse border-t border-b border-gray-300 items-stretch">
      <thead>
          <tr class="bg-[#f9fafb] border-b border-gray-300 [&>*]:text-xs [&>*]:text-gray-400">
            <th class="px-3 py-2 text-left flex-4">
              Store
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('name')">
            </th>
            <th class="px-4 flex-2">
              Region
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('region')">
            </th>
            <th class="px-4 flex-2">
              Country
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('country')">
            </th>
            <th class="px-4 py-2 flex-2">
              Contact
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('representative')">
            </th>
            <th class="px-4 flex-2">
              Type
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('typeOfCustomer')">
            </th>
            <th class="px-4 flex-2">
              Favourites
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('favourited')">
            </th>
            <th class="px-4 flex-1">
              Hide
            </th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let row of paginatedData(search.value), let i=index" class="[&>*]:border-b [&>*]:border-gray-200 [&>*]:text-xs [&>*]:text-gray-500">
            <td class="p-3 flex-2">
              <div class="text-left">
                <p>{{ row.name}}</p>
                <p class="text-gray-400">{{ row.address }}</p>
              </div>
            </td>
            <td class="p-4 flex-2">{{ row.region }}</td>
            <td class="px-4 py-2 flex-1">{{ row.country }}</td>
            <td class="px-4 py-2 flex-1">{{ row.representative }}</td>
            <td class="px-4 py-2 flex-1">{{ row.typeOfCustomer }}</td>
            <td class="px-4 py-2 flex-1">
              <img src="{{ row.favourited ? '../assets/star-outline.png' : '../assets/star-filled.PNG' }}"
              class="m-auto w-5" (click)="toggleFavourite(i)">
            </td>
            <td class="px-4 py-2 flex-none"><img src="{{ row.viewed ? '../assets/eye.png' : '../assets/eye.png' }}"
              class="m-auto w-5"></td>
          </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="flex justify-between items-center my-4 mr-3">
      <p class="text-xs text-gray-600 px-4">Pages</p>
      <div>
        <!-- Previous Button -->
        <button 
          (click)="goToPage(currentPage - 1)" 
          [disabled]="currentPage === 1"
          class="px-4 py-2 border border-gray-200 text-gray-400 rounded-tl-md rounded-bl-md disabled:bg-gray-200"
        >
         <
        </button>

        <!-- Page Number Buttons -->
        <ng-container *ngFor="let page of pageNumbers">
          <button 
            (click)="goToPage(page)"
            [class.bg-[#eff7e3]]="page === currentPage"
            [class.text-[#c9d3ba]]="page === currentPage"
            [class.bg-white]="page !== currentPage"
            class="px-4 py-2 text-gray-400 border border-gray-200 transition duration-300"
          >
            {{ page }}
          </button>
        </ng-container>

        <!-- Next Button -->
        <button 
          (click)="goToPage(currentPage + 1)" 
          [disabled]="currentPage === totalPages"
          class="px-4 py-2 text-gray-400 border border-gray-200 rounded-tr-md rounded-br-md disabled:bg-gray-200"
        >
          >
        </button>
      </div>  
    </div>
  </div>  
</main>

<!-- Footer  -->
<footer class="h-[64px] w-xl flex items-center justify-evenly text-gray-600 border-t-[1px] border-gray-300">
    <div *ngFor="let tab of tabIcons" class="flex items-center justify-center flex-col gap-y-[2px]">
        <img src="../assets/{{tab.icon}}" class="w-[20px]">
        <p class="text-sm">{{ tab.name }}</p>
    </div>
</footer>
