<!-- Header  -->
<header class="text-gray-600 py-4 h-[64px] w-[768px] border-b-[1px] border-gray-300">
    <nav class="flex space-between px-[10px] w-full gap-x-[22px]">
      <div class="bg-gray-400 rounded-md w-[28px]"></div>
  
      <p class="flex-1 text-base">Monster Energy Dashboard</p>
  
      <div class="flex space-between gap-x-[12px] [&>*]:size-[28px]">
        <img src="../assets/Notification Icon.png">
        <img src="../assets/Apps Icon.png">
        <div class="bg-gray-400 rounded-full w-[28px]">
        </div>
      </div>
    </nav>
</header>

<!-- Main Content -->
<main class="h-full text-center flex-1">

  <h1 class="text-[40px] font-bold text-gray-600 text-center m-5">Stores</h1>

  <div class="m-3 border-[1px] border-gray-300 rounded-lg h-[calc(100%-143px)] relative" #table>

    <!-- Search and Filter section  -->
    <section class="p-4 flex flex-col gap-y-4 justify-start items-start">

      <!-- Search Bar -->
      <div class="w-auto flex items-center border border-gray-300 rounded-md text-left">
        <img src="../assets/search.PNG" class="w-5 h-5 ml-2">
        <input
          type="text"
          placeholder="Search by store name"
          class="p-2 w-[200px] h-[30px] focus:outline-none text-xs"
          #search
        />
        <button (click)="onSearchStore(search.value)"
          class="text-xs bg-[#8dc63f] text-[#5c8129] p-2 rounded-tr-[5px] rounded-br-[5px]"
        >
          Search
        </button>
      </div>

      <hr class="w-full border-[1px] border-gray-200">

      <!-- Filter Bar -->
      <div class="flex justify-start items-center gap-x-5 [&>*]:text-xs [&>*]:text-gray-500">
        <p>Filter by country:</p>

        <div class="flex items-center gap-x-1 [&>*]:cursor-pointer">
          <input type="radio" id="all" name="country" value="all" checked (change)="onFilterCountry($event)"
          class="appearance-none border-2 border-gray-200 checked:border-[#8dc63f] rounded-full w-3 h-3">
          <label for="all">All</label>
        </div>
         
        <div class="flex items-center gap-x-1 [&>*]:cursor-pointer">
          <input type="radio" id="uk" name="country" value="uk"  (change)="onFilterCountry($event)"
          class="appearance-none border-2  border-gray-200 checked:border-[#8dc63f] rounded-full w-3 h-3">
          <label for="uk">UK</label>
        </div>

        <div class="flex items-center gap-x-1 [&>*]:cursor-pointer">
          <input type="radio" id="brz" name="country" value="brz" (change)="onFilterCountry($event)"
          class="appearance-none border-2  border-gray-200 checked:border-[#8dc63f] rounded-full w-3 h-3">
          <label for="brz">Brazil</label>
        </div>

        <div class="flex items-center gap-x-1 [&>*]:cursor-pointer">
          <input type="radio" id="cnd" name="country" value="cnd" (change)="onFilterCountry($event)"
          class="appearance-none border-2  border-gray-200 checked:border-[#8dc63f] rounded-full w-3 h-3">
          <label for="cnd">Canada</label>
        </div>

        <div class="flex items-center gap-x-1 [&>*]:cursor-pointer">
          <input type="radio" id="frn" name="country" value="frn" (change)="onFilterCountry($event)"
          class="appearance-none border-2  border-gray-200 checked:border-[#8dc63f] rounded-full w-3 h-3">
          <label for="frn">France</label>
        </div>
       
        <div class="flex items-center gap-x-1 [&>*]:cursor-pointer">
          <input type="radio" id="ger" name="country" value="ger" (change)="onFilterCountry($event)"
          class="appearance-none border-2  border-gray-200 checked:border-[#8dc63f] rounded-full w-3 h-3">
          <label for="ger">Germany</label>
        </div>
      </div>
    </section>
    
    <table class="min-w-full border-collapse border-b border-gray-300 items-stretch table-fixed">
      <thead>
          <tr class="bg-[#f9fafb] border-b border-gray-300">
            <th class="px-3 py-2 text-left w-[175px] text-xs text-gray-400">
              Store
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('name')">
            </th>
            <th class="px-4 text-xs text-gray-400">
              Region
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('region')">
            </th>
            <th class="px-4 text-xs text-gray-400">
              Country
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('country')">
            </th>
            <th class="px-4 py-2 text-xs text-gray-400">
              Contact
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('representative')">
            </th>
            <th class="px-4 text-xs text-gray-400">
              Type
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('typeOfCustomer')">
            </th>
            <th class=" text-xs text-gray-400">
              Favourites
              <img src="../assets/sort.png" class="w-4 inline-block cursor-pointer" (click)="changeSort('favourited')">
            </th>
            <th class="px-2 text-xs text-gray-400">
              Hide
            </th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let row of sortData(), let i=index" class="max-h-[62px] [&>*]:border-b [&>*]:border-gray-200 [&>*]:text-xs [&>*]:text-gray-500">
            <td class="p-4">
              <div class="text-left">
                <p>{{ row.name}}</p>
                <p class="text-gray-400">{{ row.address }}</p>
              </div>
            </td>
            <td class="p-4">{{ row.region }}</td>
            <td class="p-4">{{ row.country }}</td>
            <td class="p-4">{{ row.representative }}</td>
            <td class="p-4">{{ row.typeOfCustomer }}</td>
            <td class="p-4">
              <img src="{{ row.favourited ? '../assets/star-outline.png' : '../assets/star-filled.PNG' }}"
              class="m-auto w-5" (click)="toggleFavourite(i)">
            </td>
            <td class="p-4"><img src="{{ row.viewed ? '../assets/eye.png' : '../assets/eye.png' }}"
              class="m-auto w-5"></td>
          </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="flex justify-between items-center my-4 mr-3 absolute bottom-0 right-0 left-0">
      <p class="text-xs text-gray-400 px-4">Pages</p>
      <div>
        <!-- Previous Button -->
        <button 
          (click)="goToPage(currentPage - 1)" 
          [disabled]="currentPage === 1"
          class="px-3 py-1 border border-gray-200 text-gray-500 rounded-tl-md rounded-bl-md disabled:bg-gray-100"
        >
         <
        </button>

        <!-- Page Number Buttons -->
        <ng-container *ngFor="let page of pageNumbers()">
          <button 
            (click)="goToPage(page)"
            [class.bg-[#eff7e3]]="page === currentPage"
            [class.text-[#c9d3ba]]="page === currentPage"
            [class.bg-white]="page !== currentPage"
            class="px-3 py-1 text-gray-400 border-y border-r border-gray-200 transition duration-300"
          >
            {{ page }}
          </button>
        </ng-container>

        <!-- Next Button -->
        <button 
          (click)="goToPage(currentPage + 1)" 
          [disabled]="currentPage === totalPages()"
          class="px-3 py-1 text-gray-500 border-y border-r border-gray-200 rounded-tr-md rounded-br-md disabled:bg-gray-100"
        >
          >
        </button>
      </div>  
    </div>
  </div>  
</main>

<!-- Footer  -->
<footer class="h-[64px] w-xl flex items-center justify-evenly text-gray-600 border-t-[1px] border-gray-300">
    <div *ngFor="let tab of tabIcons" class="flex items-center justify-center flex-col gap-y-[2px]">
        <img src="../assets/{{tab.icon}}" class="w-[20px]">
        <p class="text-sm">{{ tab.name }}</p>
    </div>
</footer>
